body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
    padding: 10px;
    padding-top: 10px;
}

#openbtn-container {
    display: flex;
    justify-self: right;
}

.chart-container {
    width: 100%;
    overflow: hidden;
    background-color: rgb(85, 85, 85);
    transition: all 0.3s ease;
}

.carousel-inner {
    height: 100vh;
    transition: all 0.3s ease;
}

.chart-canvas {
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-top: 40px;
    background-color: #fff;
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.copy-button {
    display: block;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0px 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 150px;
    margin: 0 auto;
}

.copy-button:hover {
    background-color: #1888ff;
}

.copy-button:active {
    background-color: #0059b8;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    header {
        padding: 5px;
        font-size: 16px;
    }

    .chart-canvas {
        margin-top: 20px;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #3f3f3f;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-button {
    display: none;
}



.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    height: 50px;
    width: 100px;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
    background-color: #CBD5E0
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}